.inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 100px;
}

.home {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

canvas {
  width: 500px !important;
  height: 500px !important;
}

.clientDiv {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
}

.ratings {
  display: flex;
  align-items: center;
}

.ratings p {
  border-right: solid 1px black;
}

.mainBody {
  width: fit-content;
  margin: auto;
}